.container {
  max-width: 100%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 24rem;
  height: 24rem;
  max-width: 100%;
}

.headerHomeImage {
  width: 24rem;
  height: 24rem;
  max-width: 100%;
}

.backToHome {
  font-size: xx-large;
  color: orange;
}
