.container {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 60rem;
  height: 60rem;
}

.headerHomeImage {
  width: 24rem;
  height: 24rem;
}

.backToHome {
  margin: 9rem 0 0;
}
