html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: auto;
  width: auto;
  max-width: 100%;
  background-color: white;
  z-index: 10000;
  flex-wrap: wrap;
}

.nav-links {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  width: auto;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 80px;
}

.nav-links a:after {
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: relative;
  background: #ffa500;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: auto;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: #333333;
}

.authoForm {
  display: flex;
  float: right;
}
#routesDiv {
  display: flex;
  justify-content: right;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-bottom: 8px;
  padding-top: 8px;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Logo styling */

#logo {
  margin: 10px 450px 10px 10px;
  padding: 15px;
  border: 4px solid black;
  width: 160px;
  height: 100px;
  font-size: 1.25rem;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border-bottom-right-radius: 40%;
  border-top-left-radius: 40%; */
  transition: all 0.3s ease;
  z-index: 11000;
  float: left;
}

/* start of styling */

#top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
}

* {
  padding: 0;
  box-sizing: border-box;
}

h2 {
  /* font-size: large; */
  font-weight: 700;
  color: #333333;
  padding-left: 20px;
  padding-right: 20px;
} 

 h1 {
  font-size: 2rem;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
} 

#nameDiv {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#nameh1 {
  display: flex;
  font-size: 7rem;
  color: #ffa500;
  text-align: center;
}

#helloh2 {
  padding-top: 35px;
  padding-left: 25px;
}

.viewPortfolio{
  margin: 15px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10%;
}

/* PROJECT SECTION */

#projectButton a,
.projectLinks a,
#resumeMain a,
.btn-box button {
  color: #333333;
  padding: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  border: 4px solid #333333;
  border-radius: 50px;
  background-color: white;
  transition: background-color 0.3s ease 0s;
  flex-wrap: wrap;
  justify-content: center;
}

#projectsTitle {
  display: flex;
  justify-content: center;
  columns: #333333;
  font-size: 12em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-decoration: underline;
}

.projectTitle {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 2.5rem;
}

.phutbol {
  display: flex;
  justify-content: center;
}

.carousel-container {
  width: 850px;
  height: 450px;
  position: relative;
  margin: auto;
}

.projectImage {
  width: 800px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  color: #ffa500;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 100%;
}

p {
  color: #333333;
  line-height: 1.6;
  max-width: 100%;
}

.p-project {
  width: 850px;
  max-width: 100%;
}

.p-tech {
  padding-top: 0px;
}

.projectLinks a,
#resumeMain a,
.btn-box button {
  font-size: 1rem;
  border: 2px solid #333333;
  border-radius: 50px;
  text-transform: uppercase;
}

.projectLinks a img,
.btn img {
  width: 19px;
  height: 19px;
  position: relative;
  top: 4.5px;
  margin-left: 5px;
}
#skillsDiv,
#hobbies,
#phutbol,
#graceshopper,
#stackawat,
#resume {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#stackawat,
#graceshopper {
  padding-top: 85px;
}

#selfpic {
  width: 320px;
  height: 320px;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-image: url(/Family-Photo.jpeg);
  background-color: #1b1c1c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 60px;
  filter: grayscale(1);
  transition: all 1s ease;
  border: 5px solid #333333;
}

#aboutMeMain,
#hobbiesMain,
#skillsMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333333;
  font-size: 5rem;
  text-align: center;
  /* padding-top: 85px; */
}

h3 {
  font-size: medium;
  font-weight: bold;
  color: #333333;
  padding-left: 20px;
  padding-right: 20px;
}

#skillsMain {
  flex-direction: row;
  width: 1000px;
  max-width: 100%;
}

.techDiv {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #333333;
  margin: 6px;
  max-width: 100%;
}

.techDivTitle {
  width: 100%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  background-color: #333333;
  color: white;
  padding: 5px;
  max-width: 100%;
}

.tech img {
  width: 64px;
  padding: 0.35em;
  max-height: 70px;
  max-width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ffa500;
  color: #333333;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
  max-width: 100%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: relative;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffa500 transparent;
}

#hobbiesPics {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.hobbiesIcon {
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
  max-width: 100%;
}
#videogames {
  background-image: url(/pc-gaming-icon.png);
}
#travel {
  background-image: url(/World-Travel.png);
}
#flyfish {
  background-image: url(/fly-fish-clipart.jpeg);
}
#hockey {
  background-image: url(/hockey-clipart.png);
}
#seinfeld {
  background-image: url(/jerry-seinfeld.png);
}
#coffee {
  background-image: url(/coffee.png);
}
#tv {
  background-image: url(/gemini.png);
}

#resumeMain a img {
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

/* #resumeMain a {
  margin-left: 10px;
  margin-right: 10px;
} */

form {
  width: 320px;
  margin: 45px auto;
  display: block;
  max-width: 100%;
}

input,
textarea {
  background: none;
  color: #333333;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333333;
  max-width: 100%;
}
input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.group {
  position: relative;
  margin: 45px 0;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin: 0;
}
div[role="alert"] {
  color: red;
  margin-top: 1em;
}

.message-chars-left {
  margin: auto;
  text-align: left;
}

#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  width: 320px;
  max-width: 100%;
}

#footer-links a {
  transition: transform 0.2s ease-in-out;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-links img {
  width: 30px;
  height: 30px;
  max-width: 100%;
}

.blogIntroDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.blogIntroDiv > ul{
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.blogIntroDiv > li {
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
  
}

.blogIntroDiv > h2 {
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
  
}

.blogIntroDiv > h3 {
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
  
}

.blogIntroDiv > h4 {
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
  
}

.list {
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
}

.listItem {
  cursor: pointer;
  color: #333333;
  list-style: none;
}


/* TODO:  START OF PHONE AND OTHER MEDIA RESIZING */

@media only screen and (max-width: 1000px) {
  html {
    scroll-behavior: smooth;
    max-width: 100%;
  }
  #skillsMain {
    flex-direction: row;
    max-width: 100%;
  }

  #hobbiesMain {
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .slideshow-container {
    width: 100%;
    height: 56.25vw;
    position: relative;
    margin: auto;
    max-width: 100%;
  }

  #recipix,
  #racehopper,
  #botbuddies {
    width: 100%;
    max-width: 100%;
  }

  .projectImage {
    width: 100%;
    height: 56.25vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
  }

  .project-description {
    width: 100%;
  }

  p.p-project {
    width: 100%;
    padding: 28px;
    margin: 0px;
    max-width: 100%;
  }

  p.p-project.p-tech {
    padding-top: 0px;
  }

  .projectLinks,
  #resumeMain {
    flex-wrap: wrap;
    max-width: 100%;
  }

  .projectLinks a,
  #resumeMain a {
    margin-bottom: 15px;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
  }
}

/* ------MOBILE PHONES STYLING------ */
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  h1 {
    font-size: 3rem;
  }
  #nameh1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .projectTitle {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav {
    width: 100%;
    max-width: 100%;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    height: calc(100vh - 70px);
    top: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-left: 1px solid black;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  #projectButton a {
    padding: 12px;
    font-size: 1.1rem;
    border: 3px solid #333333;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  p {
    line-height: 1.6;
    margin: 20px;
    font-size: 1rem;
  }

  #skillsMain {
    flex-direction: row;
  }

  .skills {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbarIcon {
    width: 35px;
    height: 35px;
  }

  #selfpic {
    width: 240px;
    height: 240px;
    margin: 10px;
    margin-top: 50px;
  }

  #hobbiesPics {
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
  }

  .hobbiesIcon {
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
  }

  .slideshow-container {
    width: 100%;
    height: 56.25vw;
    position: relative;
    margin: auto;
    max-width: 100%;
  }

  .projectImage {
    width: 100%;
    height: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
  }

  .project-description {
    width: 100%;
    max-width: 100%;
  }

  p.p-project {
    width: 100%;
    padding: 28px;
    margin: 0px;
    max-width: 100%;
  }

  p.p-project.p-tech {
    padding-top: 0px;
    max-width: 100%;
  }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
  #helloh2 {
    padding-top: 70px;
  }
  .slideshow-container {
    width: 100%;
    height: 56.25vw;
    position: relative;
    margin: auto;
    max-width: 100%;
  }
}

/*
@media only screen and (max-width: 320px) {
  /* Form Styling */
  /* form {
    width: 300px;
    margin: 45px auto;
  }

  input,
  textarea {
    background: none;
    color: #333333;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333333;
  }

  input:focus ~ .bar:before,
  textarea:focus ~ .bar:before {
    width: 300px;
  }

  .bar {
    position: relative;
    display: block;
    width: 300px;
    height: 1px;
    background-color: #333333;
  }
}


.blogIntroDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
} */ 