/* .heading2Xl {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.headingXl {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.headingLg {
  font-size: 1.5rem;
}

.headingMd {
  font-size: 1.2rem;
} */

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  display: flex;
  list-style: none;
  /* font-size: 1.5em; */
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
}

.listItem {
  cursor: pointer;
  color: #333333;
  flex-wrap: wrap;
  justify-content: center;
}

.lightText {
  color: #999;
}

.nextLastPostBlog{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}